<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
    <default>
        <sharethis_sharebuttons>
            <module>
                <type>1</type>
            </module>
            <inline>
                <enabled>0</enabled>
                <position>exclude_excerpts,page_bottom,page_top,post_bottom,post_top</position>
            </inline>
            <sticky>
                <enabled>0</enabled>
            </sticky>
            <gdpr>
                <enabled>1</enabled>
            </gdpr>
        </sharethis_sharebuttons>
    </default>
</config>
